@layer variables {
  :root {
    --border-width: 0.1rem;
    --border-width-light: 0.05rem;
    --border-width-bold: 0.2rem;
    --border-radius: 0.4rem;
    --border-radius-small: 0.2rem;
    --border-radius-large: 0.6rem;
  }
}
