@layer variables {
  :root {
    container: --root / inline-size;

    --breakpoint-xs: 40rem;
    --breakpoint-sm: 48rem;
    --breakpoint-md: 64rem;
    --breakpoint-lg: 80rem;
    --breakpoint-xl: 96rem;

    --xs: false;
    --sm: false;
    --md: false;
    --lg: false;
    --xl: false;

    @media (width <= 40rem) {
      --xs: false;
    }
    @media (width > 40rem) {
      --xs: true;
    }

    @media (width <= 48rem) {
      --sm: false;
    }
    @media (width > 48rem) {
      --sm: true;
    }

    @media (width <= 64rem) {
      --md: false;
    }
    @media (width > 64rem) {
      --md: true;
    }

    @media (width <= 80rem) {
      --lg: false;
    }
    @media (width > 80rem) {
      --lg: true;
    }

    @media (width <= 96rem) {
      --xl: false;
    }
    @media (width > 96rem) {
      --xl: true;
    }
  }
}

/* USAGE */
/* @container --root style(--xs: true) {
     ...
} */
