@layer variables {
  :root {
    --duration-0: 0s;
    --duration-10: 0.1s;
    --duration-20: 0.2s;
    --duration-30: 0.3s;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --duration-0: 0s;
      --duration-10: 0s;
      --duration-20: 0s;
      --duration-30: 0s;
    }
  }
}
